{% extends 'webapp/tasklayout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block tasks %}
<div class="tasks">
    <h1>{{title}}</h1>
    <hr style="min-width: 98vh;">
    <ul>
       {% for t in tasks %}
        <li>
            <!--    Ссылка на pk в моделях        -->
            <a href="{{ t.get_absolute_url }}"><h2>{{ t.title }}</h2></a>
            <p>{{ t.priority }}</p>
            <p>{{ t.my_day }}</p>
        </li>
        <hr style="min-width: 98vh;">
        {% endfor %}
    </ul>
</div>
{% endblock tasks %}

{% block content %}
<h1>Добавить задачу</h1>

<form action="{% url 'add_task' %}" method="post">
    {% csrf_token %}

<!--  Позволяет отображать все поля формы с использованием тега <p>  -->
    {% for f in form %}
        <p><label class="form label" for="{{ form.id_for_label }}"><br>{{ f.label }}: </label><br>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Добавить</button>
</form>
{% endblock content %}