{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'task/css/tasks.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
{% block menu %}
    <div class="menu">
        <ul>
            {% for m in menu %}
<!--   обращаемся к методу в моделях          -->
            <li><a href="{% url m.url_name %}" class="menu_obj">{{m.title}}</a></li>
            {% endfor %}
        </ul>

{% endblock menu %}

{% block tasks %}
{% endblock tasks %}

<div class="content">
{% block content %}
{% endblock content %}
</div>
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li>{{ p }}</li>
<!--   Чтобы при наличии большого количества страниц меню пагинации содержало в себе текущий номер страницы и по 2 с каждой стороны     -->
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}

</body>
</html>